## What are Python Variables?

-- __A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing. Every value in Python has a datatype. Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc.__

- A variable is a named memory location in which a value is stored.
- Any data type in Python, such as an integer, string, list, can be used as the value.
- Variables are used to store information that will be needed during the program.
- In Python, you do not need to define a variable before using it.
- When you assign a value to a variable, it is created.
- You can change a variable's value at any moment. This will override its previous value.

## Types of Variables in Python:

-- _There are two types of variables in the Python programming language:_

__1. Python local variable:__ These variables are created within functions and can only be accessed within those functions.
   - It exists simply within the function and cannot be accessed from anywhere else.
   - When the function is called, local variables are generated and removed when the function returns.
   
__Example:__

In [37]:
'''
In this example the function "sum" is defined to take two parameters, add them, 
store the result in the variable "sum" and then return that sum. 
With the values 5 and 10, the function is run, 
and the output (15) is displayed on the console.
'''
def sum(x,y):
 sum = x + y
 return sum
print("Output:", sum(5, 10))

Output: 15

__2. Python global variable:__ These variables are defined outside of any function and can be used throughout the program.
   - A global variable in Python is a variable with a global scope, which means it can be accessed from anywhere in the program, including within functions.
   - Global variables are declared outside of any Python function and are normally defined at the program's start.
  
__Example:__

In [19]:
'''
In this example, the counter variable is declared outside of the increment_counter() function. 
It is thus a global variable that can be accessed from anywhere in the program. 
The increment_counter() function uses the global keyword to access the global variable counter. 
This is required because the function also creates a local variable with the same name. 
The function could only access the local variable if the global keyword was not used.
'''
counter = 0
def increment_counter():
    global counter
    counter += 1
increment_counter()
increment_counter()
increment_counter()
print("Output:", counter)

Output: 3

## Declaration and Initialization of Variables in Python:

-- _Declaring and initializing variables in Python is a simple operation that comprises assigning a value to a variable using the assignment operator (=). Python, unlike other programming languages, does not require explicit variable declarations._

__Declaration:__

* Declaring a variable in Python is simply giving it a name. This name can be any valid identifier that follows naming rules, such as beginning with a letter or underscore and containing alphanumeric characters, underscores, and digits.

__Initialization:__

* Initialization is the process of providing a variable with an initial value. This value can be of any valid data type, including integers, strings, floats, booleans, and more complicated data structures such as lists, dictionaries, and sets.

##### Syntax of Declaring & Initializing Variable in Python

variable_name = value

__Example of Declaring & Initializing Variable in Python Compiler:__

In [60]:
# Declare a variable named 'age'
# Initialize a value '25'
age = 25
# Declare a variable named 'name'
# Initialize a value 'Umar'
name = "Umar"
# Print the values of the variables 'age' and 'name'
print("Output:", "My name is", name, "and I am", age, "years old.")

Output: My name is Umar and I am 25 years old.

## Rules of Python Variables:
- __Begin with a letter (A-Z, a-z) or an underscore:__
  * Variable names should begin with a letter (A-Z, a-z) or an underscore.
  * A variable name cannot begin with a number.
- __Use lowercase:__
  * Lowercase names for variables are preferred.
  * This is a standard Python convention that helps readability.
- __Use underscores to separate words:__
  * When multiple words combine to make a variable name, use underscores instead of spaces to separate them.
  * This is referred to as a snake_case.
- __Avoid reserved words:__
  * Do not use words reserved by Python for keywords, functions, or built-in data types, such as if, elif, else, def, class, import, and so on.
- __Maintain descriptive names:__
  * Select variable names that effectively reflect their purpose and meaning.
  * Avoid ambiguous or general titles such as transient or data.
- __Unless they are common, avoid abbreviations:__
  * Only use abbreviations when they are well-known and obvious.
  * For example, the count is superior to cnt.
- __Keep your naming consistent across your code:__
  * Maintain consistency in your codebase's naming approach.
  * This simplifies the code's understanding and maintenance.

#### Multi Words Variable Names:
- Variable names with more than one word can be difficult to read.

--_There are several techniques you can use to make them more readable:_
- __Camel Case:__ Each word, except the first, starts with a capital letter.
- __Pascal Case:__ Each word starts with a capital letter.
- __Snake Case:__ Each word is separated by an underscore character.

In [62]:
#Example of Camel Case
myVariableName = "Umar"
print("Camel Case Output:", myVariableName)

#Example of Pascal Case
MyVariableName = "Umar"
print("Pascal Case Output:", MyVariableName)

#Example of Snake Case
my_variable_name = "Umar"
print("Snake Case Output:", my_variable_name)

Camel Case Output: Umar
Pascal Case Output: Umar
Snake Case Output: Umar

## One Value to Multi Variable:
- _Assign the same value to multiple variables by using = consecutively. For example, this is useful when initializing multiple variables with the same value._

__Example:__

In [64]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

## Multiple Values to Multiple Variable:
- _Multiple assignment is the ability to assign multiple variables to unpacked values within one statement. This allows for code to be more concise and readable, and is done by separating the variables to be assigned with a comma such as first, second, third = (1,2,3) or for index, item in enumerate(iterable)._

__Example:__

In [74]:
a, b, c = "Days: 365","Weeks: 52","Months: 12"
print(a)
print(b)
print(c)

Days: 365
Weeks: 52
Months: 12

## Valid Variables:

In [93]:
name = "Umar"
print(name)

Umar

In [95]:
user_name = "Umar123"
print(user_name)

Umar123

In [97]:
_userage = "25"
print(_userage)

25

In [99]:
_user_height = "5.7"
print(_user_height)

5.7

In [101]:
username1 = "Farooq"
print(username1)

Farooq

In [103]:
user_name_1 = "Mohammed"
print(user_name_1)

Mohammed

In [105]:
user_name1 = "Umar Farooq"
print(user_name1)

Umar Farooq

In [107]:
COURSE = "Data Science"
print(COURSE)

Data Science

In [109]:
total_python_keyword = "35"
print(total_python_keyword)

35

In [111]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

In [113]:
first_name = middle_name = last_name = "Mohammed Umar Farooq"
print(first_name)
print(middle_name)
print(last_name)

Mohammed Umar Farooq
Mohammed Umar Farooq
Mohammed Umar Farooq

In [115]:
user1 = "John"
print(user1)

John

In [117]:
user_1 = "James"
print(user_1)

James

In [119]:
user1_user2 = "John and James"
print(user1_user2)

John and James

In [121]:
_user1 = "Charles"
print(_user1)

Charles

In [123]:
_user_1 = "Smith"
print(_user_1)

Smith

In [125]:
userid = "24568"
print(userid)

24568

In [127]:
x, y, z = "John","Charles","James"
print(x)
print(y)
print(z)

John
Charles
James

In [129]:
user1 = user_2 = _user_3 = 10
print(user1)
print(user_2)
print(_user_3)

10
10
10

In [131]:
a = "Apple"
print(a)

Apple

In [133]:
height_= "5.7"
print(height_)

5.7

In [154]:
false = "Umar Farooq"
print(false)

Umar Farooq

In [160]:
int = "35"
print(int)

35

## Invalid Variables:

In [138]:
.name = "Umar"
print(.name)

SyntaxError: invalid syntax (3397003576.py, line 1)

In [140]:
1user_name = "Umar123"
print(1user_name)

SyntaxError: invalid decimal literal (1994029313.py, line 1)

In [142]:
!userage = "25"
print(!userage)

SyntaxError: invalid syntax (3383917834.py, line 2)

In [1]:
user-height_= "5.7"
print(user-height_)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (767258097.py, line 1)

In [146]:
if = "Farooq"
print(if)

SyntaxError: invalid syntax (2946541170.py, line 1)

In [148]:
while = "Mohammed"
print(while)

SyntaxError: invalid syntax (528523375.py, line 1)

In [162]:
False = "Umar Farooq"
print(False)

SyntaxError: cannot assign to False (3195226362.py, line 1)

In [156]:
def = "Data Science"
print(def)

SyntaxError: invalid syntax (3974533389.py, line 1)

In [166]:
1stInt = "35"
print(1stInt)

SyntaxError: invalid decimal literal (3737524119.py, line 1)

In [168]:
a = b = 10 = 10
print(a)
print(b)
print(10)

SyntaxError: cannot assign to literal (168227302.py, line 1)

In [170]:
first_name! = middle_name = last_name = "Mohammed Umar Farooq"
print(first_name!)
print(middle_name)
print(last_name)

SyntaxError: invalid syntax (1821304119.py, line 1)

In [172]:
@user1 = "John"
print(@user1)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1603633642.py, line 1)

In [174]:
2user_1 = "James"
print(2user_1)

SyntaxError: invalid decimal literal (1495601260.py, line 1)

In [176]:
user1&user2 = "John and James"
print(user1&user2)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2108568984.py, line 1)

In [178]:
1_user1 = "Charles"
print(1_user1)

SyntaxError: invalid decimal literal (2385842105.py, line 1)

In [180]:
_user 1 = "Smith"
print(_user 1)

SyntaxError: invalid syntax (3009976359.py, line 1)

In [182]:
user-id = "24568"
print(user-id)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2042767507.py, line 1)

In [184]:
10, y, z = "John","Charles","James"
print(10)
print(y)
print(z)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1029131936.py, line 1)

In [186]:
user.1 = user_2 = _user_3 = 10
print(user.1)
print(user_2)
print(_user_3)

SyntaxError: invalid syntax (3071341627.py, line 1)

In [188]:
1a = "Apple"
print(1a)

SyntaxError: invalid decimal literal (2276286845.py, line 1)