## __Tuples in Python:__

- _A tuple is a collection which is ordered and unchangeable._
- _Tuples are used to store multiple items in a single variable._
- _Tuples are similar to lists, but the difference is tples cannot be modified once created._
- _Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage._
- _Tuples are defined by __parentheses( )__ and the elements are seperated by __commas (,)___

__`Examples of Creating Tuple:`__

In [39]:
#Tuple with string data type as elements

cars = ('Mercedes', 'BMW', 'Audi', 'Volvo')
print(cars, type(cars))

#Tuple with float data type as elements

decimal = (1.1, 2.5, 3.8, 9.5)
print(decimal, type(decimal))

#Tuple with int data type as elements

number = (1, 2, 3, 4)
print(number, type(number))

#Tuple with boolean data type

bool = (5>2, 6<4, 9<=10)
print(bool, type(bool))

#Tuple with mixed data type as elements

mixed_data = (1, 'Apple', 9.6, 1+8j, 5>2)
print(mixed_data, type(mixed_data))

#single element Tuple

#for single element comma, has to be given after the element then the compiler will print output as <class 'tuple'>
# or else the output will be based on the element data type

#single element using number
single_num = (10,) # here comma has been given after element output is 'tuple'
print(type(single_num))
single_num1 = (10) # here comma has not been given after element output is 'int'
print(type(single_num1))

#single element using boolean
single_bool = (5>2,) # here comma has been given after element output is 'tuple'
print(type(single_bool))
single_bool1 = (5>2) # here comma has not been given after element output is 'bool'
print(type(single_bool1))

#single element using float
single_float = (8.5,) # here comma has been given after element output is 'tuple'
print(type(single_float))
single_float1 = (8.5) # here comma has not been given after element output is 'float'
print(type(single_float1))

('Mercedes', 'BMW', 'Audi', 'Volvo') <class 'tuple'>
(1.1, 2.5, 3.8, 9.5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(True, False, True) <class 'tuple'>
(1, 'Apple', 9.6, (1+8j), True) <class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'bool'>
<class 'tuple'>
<class 'float'>

### __Accessing of Tuples:__

- _Tuples support indexing and slicing just like lists._

__- Indexing:__

- _We can access individual elements of a tuple using indexing._
- _For example, if we have a tuple `tup` with three elements, we can access the first element using `tup[0]`, the second element using `tup[1]`, and the third element using `tup[2]`._

__- Slicing:__

- _Slicing is the extraction of a part of a string, list, or tuple._
- _It enables users to access the specific range of elements by mentioning their indices._

In [68]:
#Accessing elements using index and slicing

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(a)
#example using index
print(a[4])

#example using slicing
print(a[4:8])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
5
[5, 6, 7, 8]

### __Immutability:__

- _Immutability in Python tuples means that once a tuple is created, its contents cannot be changed or add or removed._
- _This is a key difference between tuples and other Python data structures, such as lists and dictionaries, which are mutable and can be modified after creation._

__`Examples:`__

In [82]:
#using string
fruits = ('apple', 'mango', 'kiwi', 'pears')
fruits[2] = 'orange'
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [86]:
#using int
numbers = (1, 2, 3, 4)
numbers[2] = 5
print(numbers)

TypeError: 'tuple' object does not support item assignment

### __Tuple Operations:__

__1. Concatenation:__

- _Combining two tuples._
- _It is defined by `plus +`._

__`Example:`__

In [95]:
num = (1, 4, 3)
words = ('One', 'Four', 'Three')
num_words = num + words
print(num_words)

(1, 4, 3, 'One', 'Four', 'Three')

__2. Repetition:__

- _The repetition duplicates a tuple and links all of them together._
- _The `*` symbol is commonly used to indicate multiplication, however, it becomes the repetition operator when the operand on the left side of the `*` is a tuple._

__`Example:`__

In [98]:
a = (5, 6, 9, 2)
rpt_a = a * 5
print(rpt_a)

(5, 6, 9, 2, 5, 6, 9, 2, 5, 6, 9, 2, 5, 6, 9, 2, 5, 6, 9, 2)

### __Tuple Methods:__

- _Tuple has limited methods compared to lists due to their immutability._

__1. count()__
  - _Returns the number of occurance of a specified value._

In [103]:
num = (1, 5, 2, 3, 4, 8, 9, 5, 4, 1, 2, 5, 6, 2, 4, 5, 8, 7, 6)
num_count = num.count(5)
print(num_count)

cars = ('Audi', 'BMW', 'Audi', 'Benz', 'Volvo', 'audi')
cars_count = cars.count('Audi')
print(cars_count)

4
2

__2. index()__

- _Returns the index for first occurence of specified element or value._

In [117]:
num = (1, 5, 2, 3, 8, 4, 9, 5, 4, 1, 2, 5, 6, 2, 4, 5, 8, 7, 6)
num_index = num.index(4)
print(num_index)

cars = ('Audi', 'BMW', 'Audi', 'Benz', 'Volvo', 'audi')
cars_index = cars.index('Audi')
print(cars_index)

5
0