## __Python Strings:__

### What is String ?

- _In Python, strings are used for representing textual data._
- _A string is a sequence of characters enclosed in either `single quotes ('')` or `double quotes (“”)`. `Triple quotes (""" """)` can also be used if its is a multi-line string._
- _The Python language provides various built-in methods and functionalities to work with strings efficiently._
- _It is an immutable data type, which means once a string is created, it cannot be modified._
- _However, it is possible to create a new string by concatenating two or more strings._

___Creating String:___

In [12]:
str = 'This is a single-quote string'
str1 = "this is a double-quote string"
str2 = """ 
This is a multi-line
string
"""
print(str, type(str))
print(str1, type(str1))
print(str2, type(str2))

This is a single-quote string <class 'str'>
this is a double-quote string <class 'str'>

This is a multi-line
string
 <class 'str'>

### __String Operations:__

__1. Concatenation:__

- _Combine two or more strings._
- _`plus (+)` symbol is used for concatenation._

__`Example:`__

In [70]:
str_com0  = 'Hello, Everyone \n'
str_com1 = 'My name is Umar \n'
str_com2 = 'Student in Teks academy\n'
str_combine = str_com0 + str_com1 + str_com2
print(str_combine)

Hello, Everyone
My name is Umar
Student in Teks academy

__2. Repetition:__

- _The `* operator` also works on strings._
- _It performs repetition. For example, `'Fun'*3` is `'FunFunFun'`._
- _One of the operands has to be a string and the other has to be an integer.._

__`Example:`__

In [72]:
str = "Hello, Example of Repetition. \n" #here \n (backslash n) is given to repeat the string in new line
str_repeat = str * 5
print(str_repeat)
a = str_com0 * 5
print(a)
b = str_com1 * 5
print(b)
c = str_com2 * 5
print(c)

Hello, Example of Repetition.
Hello, Example of Repetition.
Hello, Example of Repetition.
Hello, Example of Repetition.
Hello, Example of Repetition.

Hello, Everyone
Hello, Everyone
Hello, Everyone
Hello, Everyone
Hello, Everyone

My name is Umar
My name is Umar
My name is Umar
My name is Umar
My name is Umar

Student in Teks academy
Student in Teks academy
Student in Teks academy
Student in Teks academy
Student in Teks academy

__3. Indexing:__

- _Indexing allows you to access individual characters in a string directly by using a numeric value._
- _String indexing is zero-based: the first character in the string has index 0, the next is 1, and so on._
- _The index of a string's first character is 0 , and the index of a string's last character is the length of the string minus 1_

In [47]:
language = "Python is easy to learn"
index_lang = language[5]
print(index_lang)
index_lang1 = language[-3]
print(index_lang1)

n
a

__4. Slicing:__

- _String slicing in Python allows you to extract a portion of a string by specifying a start and end index._
- _It follows the format string `[start:end]`, where start is the index where slicing begins and end is the index where it ends._

In [51]:
slice = "String slicing in Python allows you to extract a portion"
new_slice = slice[7:24]
print(new_slice)

slicing in Python

___Creating string with 500 characters:___

In [110]:
string_500char = """
Python is a general-purpose programming language that can be used for many tasks, such as building websites, analyzing data, and automating tasks. 
It is considered a good choice for both beginners and advanced programmers. Easy to learn and has a large user community, making it easy to find solutions to problems.
Python is a dynamic, interpreted language that doesn't require type declarations for variables, parameters, functions, or methods. 
This makes the code short and flexible, but it also means that there is no compile-time type checking.
"""
print(len(string_500char))

552

__`Example:`__ Indexing and slicing with 500 characters string.

In [98]:
#Indexing

print(string_500char[21])
print(string_500char[47])
print(string_500char[105])
print(string_500char[129])
print(string_500char[201])
print(string_500char[249])
print(string_500char[311])
print(string_500char[395])
print(string_500char[409])
print(string_500char[418])

u
e
e
a
a
r
m

,
e

In [89]:
# Slicing

a = string_500char[12:27]
print(a)
b = string_500char[28:49]
print(b)
c = string_500char[61:108]
print(c)
d = string_500char[154:210]
print(d)
e = string_500char[447:485]
print(e)

general-purpose
programming language
used for many tasks, such as building websites,
considered a good choice for both beginners and advanced
This makes the code short and flexible

## __Python - Format - Strings__

### __Strings have three format methods as below:__

___`Method 1:`___

- Old Style Formatting `(% Operator)`
    * This format uses the form of format_string % data
    * The `% symbol` is used in Python with a large variety of data types and configurations.
    * `%d:` stands for – `integer`.
    * `%f:` stands for – `float`.
    * `%s:` stands for – `string`.

___Example:___

In [133]:
name = 'Umar'
age = 25
height = 5.7
print('My Name is %s, i am %d years old and my height is %.1f' % (name, age, height))

My Name is Umar, i am 25 years old and my height is 5.7

___`Method 2:`___

- `Format()` Method
  * The format() method formats the specified value(s) and insert them inside the string's placeholder.
  * The placeholder is defined using `curly brackets: {}`.
    - The placeholders can be identified using `named indexes {price}`, `numbered indexes {0}`, or even `empty placeholders {}`.
  * The format() method returns the formatted string.
 
___Example:___

In [172]:
'''
Values are given in the variables and 
the placeholders are empty {} in string and values are passed to placeholders in .format()
'''
name = "Umar"
age = 25
height = 5.7
About_me = "My Name is {}, I'm {} year's old and my height is {}".format(name, age, height)

#here the variable names are given in placeholder like fname, age and values are given to the variables in .format()
named_indexes = "My name is {fname}, I'm {age} year's old".format(fname = "Umar", age = 25)

#here the index of the value is given in placeholder like 0,1,2 and the value of index is given in .format()
numbered_indexes = "My name is {0}, I'm {1} year's old and my height is {2}".format("Umar",25, 5.7)

#here the [laceholders are empty and the value is directly passed to placeholders from .format()
empty_placeholder = "My name is {}, I'm {} year's old".format("Umar",25)

print(About_me)
print(named_indexes)
print(numbered_indexes)
print(empty_placeholder)

My Name is Umar, I'm 25 year's old and my height is 5.7
My name is Umar, I'm 25 year's old
My name is Umar, I'm 25 year's old and my height is 5.7
My name is Umar, I'm 25 year's old

___`Method 3:`___

- String Interpolation (`f-string` - Python 3.6 and later)
    * _F-string is a way to format strings in Python. It was introduced in Python 3.6 and aims to make it easier for users to add variables, comma separators, do padding with zeros and date format._
    * _Uses f-string, where expressions are inside curly braces {} are evaluated and replaced._
 
___Example:___

In [174]:
name = "Umar"
age = 26
location = "Hyderabad"
intro = f"My name is {name}, i am {age} year's old and i am from {location}"
print(intro)

My name is Umar, i am 26 year's old and i am from Hyderabad

## __String Methods:__

__`1. len()`__
- Returns the length of a string.

In [191]:
lenmethod = "Welcome to India"
length = len(lenmethod)
print(length)

16

__`2. lower()`__
- Converts uppercase values to lowercase values.

In [193]:
lowermethod = "HELLO EVERYONE"
lower = lowermethod.lower()
print(lower)

hello everyone

__`3. upper()`__
- Converts lowercase values to uppercase values.

In [195]:
uppermethod = "HELLO EVERYONE"
upper = uppermethod.upper()
print(upper)

HELLO EVERYONE

__`4. strip()`__
- Removes leading and trailing whitespaces.
- It does not remove whitespaces between the string only before and after the string whitespaces are removed.

In [201]:
stripmethod = "    Hello    World    " 
#here the compiler removes the whitespaces before Hello and whitespaces after World not the whitespace between Hello World
strip = stripmethod.strip()
print(strip)

Hello    World

__`5. replace()`__
- Replaces a substring with another substring.
- Not only word can be replaced but any character of anyword in the string can be replaced.

In [215]:
replacemethod = "Hello, My name is Dave"
replace = replacemethod.replace("Dave", "Smith")
print(replace)

replacemethod1 = "Hello, My name is Daved"
replace1 = replacemethod1.replace("d", "Smith")
print(replace1)

Hello, My name is Smith
Hello, My name is DaveSmith

__`6. split()`__
- Split the string into a substring in the form of lists.

In [218]:
splitmethod = "Python is an easy programming language"
split = splitmethod.split()
print(split)

['Python', 'is', 'an', 'easy', 'programming', 'language']

__`7. join()`__
- Join a list of strings into a single string.

In [223]:
joinmethod = ['Python', 'is', 'an', 'easy', 'programming', 'language']
join = ' '.join(joinmethod)
print(join)

Python is an easy programming language

__`8. capitalize()`__
- Converts first character of a string into uppercase.

In [226]:
capmethod = "python is an easy programming language"
a = capmethod.capitalize()
print(a)

Python is an easy programming language

__`9. casefold()`__
- Converts the string into lowercase.

In [231]:
cfmethod = "HELLO, MY NAME IS DAVE"
a = cfmethod.casefold()
print(a)

hello, my name is dave

__`10. center()`__
- Centers the string in a field of a given width.

In [238]:
cenmethod = "Welcome to India"
a = cenmethod.center(36,'*')
print(a)

**********Welcome to India**********

__`11. count()`__
- Returns the number of occurences of a substring any characters of substrings.

In [269]:
cntmethod = "I've been there many a time."
a = cntmethod.count('e')
print(a)

6

__`12. encode()`__
- Encode the string using a specified encoding.

In [264]:
a = "hello"
print(a.encode('utf-8'))

b'hello'

__`13. endswith()`__
- Checks if the given string ends with a specified value.
- The value might be a substring or the character of a substring.

In [276]:
ewmethod = "My name is Dave"
a = ewmethod.endswith('e')
print(a)

True

__`14. Expandtabs()`__
- Replaces tabs with spaces by using `\t` and specified value.

In [452]:
exptmethod = "My\tname\tis\tDave"
a = exptmethod.expandtabs(4)
print(a)

My  name    is  Dave

__`15. find()`__
- Finds the first occurance of a substring or character of a substring and returns its position.

In [294]:
fndmethod = "My name is Dave"
a = fndmethod.find('a') #specified value is character of a substring
b = fndmethod.find('Dave') #specified value is a substring
print(a)
print(b)

4
11

__`16. format()`__
- Formats the string with a specified value.

In [297]:
frmtmethod = "Hello, {}"
a = frmtmethod.format("Welcome to India")
print(a)

Hello, Welcome to India

__`17. format_map()`__
- Formats the string with specified values from a mapping object.

In [307]:
frmtmapmethod = "Hello {name}, Welcome to {country}"
a = frmtmapmethod.format_map({"name":"Dave", "country":"India"})
print(a)

Hello Dave, Welcome to India

__`18. index()`__
- Finds the first occurrence of a substring and returns its position. Raises an error if not found.

In [312]:
indexmethod = "Hello Dave"
a = indexmethod.index('D')
print(a)

6

In [314]:
indexmethod = "Hello Dave"
a = indexmethod.index('d')
print(a)

ValueError: substring not found

__`19. title()`__
- Converts first character of each word to uppercase.

In [318]:
titlemethod = "welcome to data science"
a = titlemethod.title()
print(a)

Welcome To Data Science

__`20. isalnum()`__
- Checks if all characters are alphanumeric.
- It considers individual numbers or alphabets or alphanum.

In [322]:
isalnummethod = "abc123"
a = isalnummethod.isalnum()
print(a)

True

In [324]:
isalnummethod = "123"
a = isalnummethod.isalnum()
print(a)

True

__`21. isalpha()`__
- Checks if all characters are alphabets.
- This method will not consider numbers or special characters.

In [328]:
isalphamethod = "Umar"
a = isalphamethod.isalpha()
print(a)

True

In [330]:
isalphamethod = "@#$%"
a = isalphamethod.isalpha()
print(a)

False

In [333]:
isalphamethod = "12345"
a = isalphamethod.isalpha()
print(a)

False

__`22. isdecimal()`__
- Checks if all characters are decimal digits.

In [403]:
isdecimalmethod = "123456789"
a = isdecimalmethod.isdecimal()
print(a)

True

In [340]:
isdecimalmethod = "sdfhdsSJGVIDS"
a = isdecimalmethod.isdecimal()
print(a)

False

__`23. isdigit()`__
- Checks if all characters sre digits.

In [347]:
isdigitmethod = "123456789"
a = isdigitmethod.isdigit()
print(a)

True

In [349]:
isdigitmethod = "31654654sdkfSFDDBNHDHJ"
a = isdigitmethod.isdigit()
print(a)

False

__`24. isascii()`__
- Checks if all characters are ASCII.

In [352]:
isasciimethod = "hello"
a = isasciimethod.isascii()
print(a)

True

__`25. isidentifier()`__
- Checks if the string is a valid identifier.

In [372]:
identifiermethod = "my_string"
a = identifiermethod.isidentifier()
print(a)

True

In [374]:
identifiermethod = "my string"
a = identifiermethod.isidentifier()
print(a)

False

In [376]:
identifiermethod = "mystring"
a = identifiermethod.isidentifier()
print(a)

True

In [378]:
identifiermethod = "my_string 123"
a = identifiermethod.isidentifier()
print(a)

False

In [380]:
identifiermethod = "my_string_123"
a = identifiermethod.isidentifier()
print(a)

True

__`26. islower()`__
- Checks if all characters are lowercase.

In [383]:
islowermethod = "Hello"
a = islowermethod.islower()
print(a)

False

In [385]:
islowermethod = "hello"
a = islowermethod.islower()
print(a)

True

In [387]:
islowermethod = "123456"
a = islowermethod.islower()
print(a)

False

__`27. isnumeric()`__
- Checks if all characters are numeric or numbers.

In [397]:
isnumericmethod = "1525"
a = isnumericmethod.isnumeric()
print(a)

True

In [405]:
isnumericmethod = "15.25"
a = isnumericmethod.isnumeric()
print(a)

False

__`28. isprintable()`__
- Checks if all characters are printable.

In [409]:
isprintablemethod = "    hi, how are you?    "
a = isprintablemethod.isprintable()
print(a)

True

In [417]:
isprintablemethod = " "
a = isprintablemethod.isprintable()
print(a)

True

__`29. isspace()`__
- Checks if all characters are whitespace.

In [423]:
isspacemethod = " "
a = isspacemethod.isspace()
print(a)

True

In [429]:
isspacemethod = "abc 123"
a = isspacemethod.isspace()
print(a)

False

In [427]:
isspacemethod = ""
a = isspacemethod.isspace()
print(a)

False

__`30. istitle()`__
- Checks the given character is in form of title or not.

In [434]:
istitlemethod = "Welcome to India"
a = istitlemethod.istitle()
print(a)

False

In [436]:
istitlemethod = "Welcome To India"
a = istitlemethod.istitle()
print(a)

True